<ROOT>
	<CONFIG>
		<LOCATION>192.168.120.112</LOCATION>
		<DATABASE_PORT>3306</DATABASE_PORT>
		<DATABASE>db_sofiev4</DATABASE>
		<DATABASETYPE>MYSQL</DATABASETYPE>
		<DATABASEWORKSPACE></DATABASEWORKSPACE>
		<USER_NAME>sofie</USER_NAME>
		<PASSWORD>poiuyt</PASSWORD>
		<SCRIPT_DIRECTORY>/var/www/html/sofie/api/scripts/sofie_alert_script/</SCRIPT_DIRECTORY>
		<GW_URI_BASE>http://192.168.120.113:13013/cgi-bin/sendsms?</GW_URI_BASE>
		<GW_USERNAME>modem1</GW_USERNAME>
		<GW_PASSWORD>458asn</GW_PASSWORD>
		<GW_SMSC>modem1</GW_SMSC>
		<SMS_FROM>93547247</SMS_FROM>
		<SMS_TO></SMS_TO>
		<SMS_CONTENT></SMS_CONTENT>
		<CODE_NOTIF_HDP>6</CODE_NOTIF_HDP>
		<CODE_NOTIF_HDR>9</CODE_NOTIF_HDR>
		<ACTIVE_LOG>true</ACTIVE_LOG>
		<UNIX_SYSTEM>true</UNIX_SYSTEM>
	</CONFIG>
</ROOT>
